@model _23dh113832.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi Tiet San Pham</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Ten San Pham</dt>
        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>Mo Ta</dt>
        <dd>@Html.DisplayFor(model => model.ProductDecription)</dd>

        <dt>Don Gia</dt>
        <dd>@Html.DisplayFor(model => model.ProductPrice)</dd>

        <dt>Hinh Anh</dt>
        <dd>@Html.DisplayFor(model => model.ProductImage)</dd>

        <dt>Danh Muc</dt>
        <dd>@Html.DisplayFor(model => model.Category.CategoryName)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sua", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Quay Lai Danh Sach", "Index",null, new { @class = "btn btn-primary btn-sm" })
</p>
