@model IEnumerable<_23dh113832.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Danh Sach Danh Muc </h2>


<table class="table bg-info">
    <tr>
        <th class="bg-success col-md-2>Ten san pham</th>
        <th class="bg-success col-md-2">Hinh anh</th>
        <th class="bg-success col-md-2">Don gia</th>
        <th class="bg-success col-md-2">Hinh Anh</th>
        <th class="bg-success"></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductDecription)</td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sua", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Chi Tiet", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Xoa", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Them moi", "Create", null, new { @class = "btn btn-primary " })
</p>
